<!doctype html>
<html lang="en">
<head>
    <%- include('../layout/comman_menu') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FONT AWESOME ICONS SCRIPT -->
    <script src="https://kit.fontawesome.com/9ae01dec74.js" crossorigin="anonymous"></script>
    <title>Design</title>
</head>

<body>
    <%- include('../layout/menu') %>

    <div class="section_one position-relative">
        <div class="banner">
            <h2>Best Service & Lowest Price Guaranteed</h2>
           <!--
            <p>
                Stripe is a technology company that builds economic infrastructure for the internet. Businesses
                of every size – from new startups to public companies – use our software to accept payments and
                manage their businesses online.
            </p>
           --> 
        </div>
        <div id="stripes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="section_two position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col1">
                    <h4> Established, January 2019 </h4>
                    <p style="text-align: justify;">
                        Tap N Go was established in January 2019 and we are now one of Nayax’s Platinum Reseller in Australia. We started by purchasing 37 Nayax devices and have sold over 500 devices thus far. Tap N Go now manages 60 business all around Australia incurring over 90,000 transactions each month.     
                    </p>
                    <p  style="text-align: justify;">
                        Even though Nayax terminals can be installed on every point of sales in any industry, we only specialise in supplying the Nayax Cashless System to car wash industry along with laundromat & vending industries. Having to run car wash and laundromat businesses for over 7 years we leverage our experience and expertise within the industry to understand our clients better then someone else. 
                    </p>
                    <p  style="text-align: justify;">
                        Our mission is to provide you with the best possible service to ensure you are not alone in times of technical difficulties, with Tap N Go being your nominated reseller you would have a direct access to us which means you are not talking to a different representative every time you call the support team in the event of any unexpected issues. 
                    </p>
                    <span>If you looking to upgrade your business with cashless system, please contact us today.</span>
                </div>
                <div class="col-lg-6 col2" style="right:10px;">
                    <div class="chart-container">
                        <img src="client-assets/images/about.png" width="550" height="500" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div id="stripes_two">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="back_color"></div>
    </div>
    <div class="container">
        <div class="section_three">
            <h1 style="text-align: center;">Now Accepting</h1>
            <div class="container logo_section">
                <div class="row">
                   
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/Alipay.svg" class="img-responsive" />
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/AMX.svg" class="img-responsive" />
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/Apple-Pay.svg" class="img-responsive" />
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/EFTPOS.svg" class="img-responsive" />
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/Google-Pay.svg" class="img-responsive" />
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/JCB.svg" class="img-responsive" />
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/Mastercard.svg" class="img-responsive" />
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mt-5">
                        <img src="client-assets/images/Visa.svg" class="img-responsive" />
                    </div>
                </div>
        
        
        
        <br><br><br><br><br><br>
        
            </div>
            
        </div>
    </div> -->
    <div class="section_four">
        <div class="content_area">
            <div class="main_content">
                <h2>Manage Your Corporate Customers With Our Prepaid Cards</h2>
               <!-- <p>
                    As the world’s fastest-advancing developer platform, Stripe gives businesses the tools and
                    technology to
                    build better.
                </p>-->
            </div>
        </div>

        <div class="container">
            <div class="row sub_content">
                <div class="col-lg-6 col1">
                    <div class="row">
                 
                        <div class="col-11">
                           
                            <p style="text-align: justify;">
                                We all get approached by corporate clients who are interested in setting up an account but with lack of infrastructure and time consuming accounting tasks makes it very hard for us all, but you don’t have to worry any more, with the acceptance of prepaid card and brilliant reporting system Nayax makes it easy for you to manage large accounts in fraction of the time you would spend doing things manually.

 
                            </p>
                        </div>
                    </div>
                   
                   
                </div>
                <div class="col-lg-6 col2" style="right:120px;">
                    <div style="width: 22rem;">
                        <img src="client-assets/images/vpos1.png" height=500px alt="...">
                        
                    </div>
                </div>
            </div>
        </div>


        <div id="stripes_three">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="section_five">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Send enquiry at Tap N Go</h4>
                    <p>Share your email so Tap N Go can contact you.</p>
                </div>
                <div class="col-md-6">
                    <div class="mail_col">
                        <div class="collect-input email">
                            <input class="email-field" required="required" type="email" name="email"
                                placeholder="" value="">
                            <button class="submit-button" type="submit">Send</button>
                        </div>
                        
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
        integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>