<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/comman_menu') %>
	<script src="https://kit.fontawesome.com/9ae01dec74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css"
		integrity="sha512-yJHCxhu8pTR7P2UgXFrHvLMniOAL5ET1f5Cj+/dzl+JIlGTh5Cz+IeklcXzMavKvXP8vXqKMQyZjscjf3ZDfGA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>
<style>
    #contact_stripes{
        background-color: #f6f9fc !important;
    }
</style>
<body >
    
    <%- include('../layout/menu') %>
	<!-- TESTIMONIALS SECTION -->
    <div class="unified_platform testimonial_section mt-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-content">

                        <br /><br /><br /><br /><br />
                        <p>Our Customers</p>
                        <h2>
                            Testimonials
                        </h2>
                        <div class="sub_content">
                            <p>
                                Our core values are at the heart of all that we do. They are integrated into our daily work lives and help us to remeber our customers always comes first, the last thank you should always come from us.  
                             </p>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="item item_1">
                           
                            <div class="text">
                                <b>Nicola Bush</b>
                                <h4>Ezi Clean Car Wash - Dubbo</h4>
                                <p>
                                    Malik has extensive knowledge of the Nayax system and is always willing and able to fix any problems I have. My stress levels have lowered significantly now I know Malik is only a 
                                    <span class="hide_text_one">
                                    phone call away! He always seems to be available and nothing is too much trouble, he's an asset to Nayax and I highly recommend him.
                                    </span>
                                </p>
                                <a id="show_more_1">Show More</a>
                                <a id="show_less_1">Show Less</a>
                                
                            </div>
                        </div>
                        <div class="item item_2">
                           
                            <div class="text">
                                <b>Paul Greig</b>
                                <h4>Mr Magic Car Wash - Mundaring</h4>
                                <p>
                                    We were introduced to Malik at Tap N Go and things have been hassle free. Once we told Malik of how we wanted to run our business he set up our machines and made installation very easy.
                                    <span class="hide_text_two">
                                        Any problems or upgrades has been handed very professional by Malik. Dealing with the same person enables you to build a friendship and someone you can trust with help of running your business. I would highly recommend Malik from Tap N Go with Nayax credit card terminals for a hassle free solutions.
                                    </span>
                                    
                                </p>
                                <a id="show_more_2">Show More</a>
                                <a id="show_less_2">Show Less</a>
                                
                            </div>
                        </div>
                        <div class="item item_3">
                            
                            <div class="text">
                                <b>Dylan Winik</b>
                                <h4>Nayax Australia</h4>
                                <p>
                                    Nayax has been working with Tap N Go Solutions since 2018 and was quickly impressed by their commitment to operators. Malik and the Tap N Go team are responsive and dedicated to providing car wash 
                                    <span class="hide_text_three">
                                        and other industry operators quick installation and excellent support to ensure maximum uptime and full use of Nayax features that deliver better efficiency and increased revenue. With Malik reporting that Tap N Go Solutions’ customers see a 10-30% increase in total turnover with adoption of Nayax’s cashless payment devices, we’re excited about the opportunities he helps bring to Nayax.
                                    </span>
                                    
                                </p>
                                <a id="show_more_3">Show More</a>
                                <a id="show_less_3">Show Less</a>
                            </div>
                        </div>
                        <div class="item">
                            
                            <div class="text">
                                <b>Linda Jones</b>
                                <h4>Warrandyte Car Wash</h4>
                                <p>Malik has always been extremely helpful, and available anytime. I would highly recommend him and his business.</p>
                               <!--<a href="">See more</a>-->
                            </div>
                        </div>
                        <div class="item item_4">
                            
                            <div class="text">
                                <b>Derrick Barden</b>
                                <h4>Luxe Wash - Redbank Plains</h4>
                                <p>We had Tap N Go install the Nayax system at our car wash on all our equipment in June 2020. Since that time we have seen our credit transactions double. The installation of the system 
                                <span class="hide_text_four">
                                    was completed within a day,
                                    but more impressive has been the ongoing support and service we have received to ensure we get the most value out of our system.
                                </span>
                                </p>
                                <a id="show_more_4">Show More</a>
                                <a id="show_less_4">Show Less</a>
                            </div>
                        </div>
                        <div class="item item_5">
                            
                            <div class="text">
                                <b>Judy Wallington</b>
                                <h4>Werrington Eco Megawash</h4>
                                <p>
                                    I have had Tap n Go for 19 months, and I am so grateful to have Malik help me through setting up the system and understanding and managing reports, and any issue with a terminal. 
                                    <span class="hide_text_five">
                                        Malik is customer orientated, and always attentive in getting back to you with any question. He is very resourceful and has your best interests always. I highly recommend Tap N Go for cashless systems.
                                    </span>
                                    
                                </p>
                                <a id="show_more_5">Show More</a>
                                <a id="show_less_5">Show Less</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- END SECTION -->

    <br /><br /><br /><br />

   


    <%- include('../layout/footer') %>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        
        <script>
            $('.owl-carousel').owlCarousel({
            // rtl:true,
            loop:true,
            margin:10,
            autoplay:false,
            autoplayTimeout:2200,
            autoplayHoverPause:false,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                },
                1300:{
                    items:4
                }
            }
        })
        $('.hide_text_one, .hide_text_two, .hide_text_three, .hide_text_four, .hide_text_five, #show_less_1, #show_less_2, #show_less_3,#show_less_4, #show_less_5').hide();
        $('.testimonial_section').on('click', '#show_more_1', function () {
            $('.hide_text_one, #show_less_1').show();
            $('#show_more_1').hide();
            $('.testimonial_section .item_1').css({"overflow-y":"auto"});
        });
        $('.testimonial_section').on('click', '#show_less_1', function () {
            $('.hide_text_one, #show_less_1').hide();
                $('#show_more_1').show();
                $('.testimonial_section .item_1').css({"overflow-y":"hidden"});
        });

        $('.testimonial_section').on('click', '#show_more_2', function () {
            $('.hide_text_two, #show_less_2').show();
            $('#show_more_2').hide();
            $('.testimonial_section .item_2').css({"overflow-y":"auto"});
        });
        $('.testimonial_section').on('click', '#show_less_2', function () {
            $('.hide_text_two, #show_less_2').hide();
                $('#show_more_2').show();
                $('.testimonial_section .item_2').css({"overflow-y":"hidden"});
        });

        $('.testimonial_section').on('click', '#show_more_3', function () {
            $('.hide_text_three, #show_less_3').show();
            $('#show_more_3').hide();
            $('.testimonial_section .item_3').css({"overflow-y":"auto"});
        });
        $('.testimonial_section').on('click', '#show_less_3', function () {
            $('.hide_text_three, #show_less_3').hide();
                $('#show_more_3').show();
                $('.testimonial_section .item_3').css({"overflow-y":"hidden"});
        });

        $('.testimonial_section').on('click', '#show_more_4', function () {
            $('.hide_text_four, #show_less_4').show();
            $('#show_more_4').hide();
            $('.testimonial_section .item_4').css({"overflow-y":"auto"});
        });
        $('.testimonial_section').on('click', '#show_less_4', function () {
            $('.hide_text_four, #show_less_4').hide();
            $('#show_more_4').show();
            $('.testimonial_section .item_4').css({"overflow-y":"hidden"});
        });

        $('.testimonial_section').on('click', '#show_more_5', function () {
            $('.hide_text_five, #show_less_5').show();
            $('#show_more_5').hide();
            $('.testimonial_section .item_5').css({"overflow-y":"auto"});
        });
        $('.testimonial_section').on('click', '#show_less_5', function () {
            $('.hide_text_five, #show_less_5').hide();
                $('#show_more_5').show();
                $('.testimonial_section .item_5').css({"overflow-y":"hidden"});
        });
        </script>

</html>
