<div class="footer">
		<div id="contact_stripes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
			<span></span>
			<span></span>
			<span></span>
        </div>
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 first_col">
						<h6><a href="">Tap N Go</a></h6>
						<a href="">
							<i class="fa fa-location-arrow" aria-hidden="true"></i>
							Australia
						</a><br>
						<a href="">
							<i class="fa fa-comment" aria-hidden="true"></i>
							English (United Kingdom)
						</a>
						<p>© 2022 Tap N Go Pty Ltd, Inc.</p>
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<h6>Products</h6>
						<a href="">Atlas</a><br>
						<a href="">Billing</a><br>
						<a href="">Capltal</a><br>
						<a href="">Checkout</a><br>
						<a href="">Climate</a><br>
						<a href="">Connect</a><br>
						
					</div>
					<div class="col-lg-3 col-md-4 col-6">
						<h6>Developers</h6>
						<a href="">Documentation</a><br>
						<a href="">API Reference</a><br>
						<a href="">API Status</a><br>

						<br>

						
	
					</div>
					
					<div class="col-lg-3 col-md-4 col-6">

						<h6>Use Cases</h6>
						<a href="">Saas</a><br>
						<a href="">Platforms</a><br>
						<a href="">Marketplaces</a><br>
						<a href="">Ecommerce</a><br>
						<a href="">Creator Economy</a><br>
						<a href="">Crypto</a><br>

						<br>

						
					</div>
				</div>
			</div>
		</footer>
		
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
