<footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Tap N GO</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">Tap N GO</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="/admin-theme/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin-theme/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin-theme/js/main.js"></script>
  <script src="/admin-theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>